In [290]:
import pandas as pd
import math

In [291]:
data = pd.DataFrame([[1,0,0,1,3,0,1,1,0,1,0],
                     [1,0,0,2,1,0,0,3,2,0,0],
                     [0,1,0,1,1,0,0,0,0,1,0],
                     [1,0,1,2,1,1,0,3,1,1,0],
                     [1,0,1,2,3,0,1,1,3,0,0],
                     [0,1,0,1,2,1,1,2,0,1,0],
                     [0,1,0,0,1,1,0,0,0,0,0],
                     [0,0,0,1,2,1,1,3,0,1,0],
                     [0,1,1,2,1,1,0,0,3,0,0],
                     [1,1,1,2,3,0,1,2,1,0,0],
                     [0,0,0,0,1,0,0,3,0,0,0],
                     [1,1,1,2,1,0,0,0,2,1,0]
                    ],
                    columns=['Alt','Bar','Fri',
                             'Pat','Price','Rain',
                             'Res','Type','Est',
                             'WillWait','__group__'])

In [292]:
# round 1
data

    Alt  Bar  Fri  Pat  Price  Rain  Res  Type  Est  WillWait  __group__
0     1    0    0    1      3     0    1     1    0         1          0
1     1    0    0    2      1     0    0     3    2         0          0
2     0    1    0    1      1     0    0     0    0         1          0
3     1    0    1    2      1     1    0     3    1         1          0
4     1    0    1    2      3     0    1     1    3         0          0
5     0    1    0    1      2     1    1     2    0         1          0
6     0    1    0    0      1     1    0     0    0         0          0
7     0    0    0    1      2     1    1     3    0         1          0
8     0    1    1    2      1     1    0     0    3         0          0
9     1    1    1    2      3     0    1     2    1         0          0
10    0    0    0    0      1     0    0     3    0         0          0
11    1    1    1    2      1     0    0     0    2         1          0

In [293]:
# round two
data = data[data['Pat'] == 2]
# round three
data = data[data['Price'] == 3]
# round four
# data = data[data['Est'] == 3]

In [294]:
data

   Alt  Bar  Fri  Pat  Price  Rain  Res  Type  Est  WillWait  __group__
4    1    0    1    2      3     0    1     1    3         0          0
9    1    1    1    2      3     0    1     2    1         0          0

In [295]:
def choose_attribute(data, unused):
    ''' data: dataframe of input data
        unused: list of attributes that have not been used
    '''
    curr_entr,_ = info(data)
#     curr_entr = 1
    print("initial entropy for dataset: {}\n".format(curr_entr))
    for a in unused:
        print("info gain for {}: {}\n\n\n".format(a, curr_entr-rem(a, data)))

In [296]:
def rem(a, data):
    rem = 0
    a_vals = list(set(data[a]))
#     print(a_vals)
    for val in a_vals:
        group = data[data[a] == val]
        p_i = group[group.WillWait == 1].index.size
        n_i = group.index.size - p_i
        info_group, group_done = info(group)
        if group_done:
            print("\n\tif split on attribute: {}\n\tremove samples that have this value for this feature: {}".format(a,val))
        rem += (p_i+n_i)/data.index.size * info_group
    return rem

In [297]:
def info(group):
    total_size = group.index.size
    p_i = group[group.WillWait == 1].index.size
    n_i = total_size - p_i
    if n_i == 0:
        return -(p_i/total_size)*math.log2(p_i/total_size), True
    elif p_i == 0:
        return -(n_i/total_size)*math.log2(n_i/total_size), True
    else:
        return -(p_i/total_size)*math.log2(p_i/total_size)-(n_i/total_size)*math.log2(n_i/total_size), False

In [298]:
choose_attribute(data, ['Alt','Bar','Fri','Price','Rain',
                        'Res','Type','Est', 'Pat'])

initial entropy for dataset: -0.0


	if split on attribute: Alt
	remove samples that have this value for this feature: 1
info gain for Alt: -0.0




	if split on attribute: Bar
	remove samples that have this value for this feature: 0

	if split on attribute: Bar
	remove samples that have this value for this feature: 1
info gain for Bar: -0.0




	if split on attribute: Fri
	remove samples that have this value for this feature: 1
info gain for Fri: -0.0




	if split on attribute: Price
	remove samples that have this value for this feature: 3
info gain for Price: -0.0




	if split on attribute: Rain
	remove samples that have this value for this feature: 0
info gain for Rain: -0.0




	if split on attribute: Res
	remove samples that have this value for this feature: 1
info gain for Res: -0.0




	if split on attribute: Type
	remove samples that have this value for this feature: 1

	if split on attribute: Type
	remove samples that have this value for this feature: 2
info gain for Type: -0.0




	if split on attribute: Est
	remove samples that have this value for this feature: 1

	if split on attribute: Est
	remove samples that have this value for this feature: 3
info gain for Est: -0.0




	if split on attribute: Pat
	remove samples that have this value for this feature: 2
info gain for Pat: -0.0